<link rel="stylesheet" href="/stylesheets/indexHeader.css">

<nav class="navbar navbar-expand-lg" id="indexNavbar">
    <a class="navbar-brand" href="/"><img src="/images/homepage.png" width="100vh" height="90vh"></a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="images/navbarburger.png" width="30px" height="30px">
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

        <ul class="navbar-nav mr-auto">
            &nbsp;
        </ul>
        <ul class="navbar-nav navbar-items">
            <li>
                {{#if isagent}}
                    <a href="/post-prop">
                        Host A Property
                    </a>
                {{else}}
                    <a href="/post-prop">
                        Become A Host
                    </a>
                {{/if}}
            </li>
            <li>
                {{#if isagent}}
                    <a href="/user/agentProfile">
                        Profile
                    </a>
                {{else}}
                    <a href="/user/profile">
                        Profile
                    </a>
                {{/if}}
            </li>
            <li>
                <a href ="/shopping-cart/">
                    Favorites
                    <span class="badge"> {{session.cart.totalQty}} </span>
                </a>
            </li>
            {{# if login }}
                <li><a href="/user/logout">Logout</a></li>
            {{ else }}
                <li><a href="/user/signup">Sign Up</a></li>
                <li><a href="/user/signin">Sign In</a></li>
            {{/if }}
        </ul>
    </div>
</nav>